@import '../../variables.scss';

.empty-container {
  background-image: url('green-semi-flower.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $primaryColor;
}
